{% extends "G3GsbFraisBundle::accueil.html.twig" %}
{% block body %}
{% block bloc1 %}
      <h2>Mes fiches de frais</h2>
      <h3>Mois à sélectionner : </h3>
      <form  method="post">
      <div class="corpsForm">
      <p>
	<label for="lstMois" accesskey="n">Mois : </label>
        <select id="lstMois" name="lstMois">
             {% for unMois in  lesmois %}
                  {% set mois = unMois.mois %}
                  {% set numAnnee =  unMois.numAnnee %}
                  {% set numMois =  unMois.numMois%}
                  {% if mois == lemois %}
                        <option selected value="{{ mois }}">{{ numMois }}/{{ numAnnee }} </option>
                  {% else %}
                        <option value="{{ mois }}">{{ numMois }}/{{ numAnnee }} </option>
                  {% endif %}
            {% endfor %}  
       </select>
      </p>
	  <button type="submit" class="btn btn-primary">Rechercher</button>
      </div>
      </form>
 {% if AffichFrais == 'O' %}
     {% include 'G3GsbFraisBundle:ListeFrais:listefraisforfait.html.twig' with {'lesfraisforfait':lesfraisforfait,'numannee':numannee,
'nummois':nummois,'libetat':libetat,'montantvalide':montantvalide,'datemodif':datemodif} %}

     {% include 'G3GsbFraisBundle:ListeFrais:listefraishorsforfait.html.twig' with {'lesfraishorsforfait':lesfraishorsforfait,
'nbjustificatifs':nbjustificatifs} %}
 {% endif %}
{% endblock %}
{% endblock %}